@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/dm-sans/DMSans-Bold-BF64376d32191f2.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

.db-sans {
  font-family: "DM Sans", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.btn-gradient {
  background: linear-gradient(
    97deg,
    #f3546e 0%,
    #b254fb 55.41%,
    #6482ff 94.35%
  );
}
.bg-liear2 {
  background: linear-gradient(90deg, #dcdcdc 0%, #696969 100%);
}
.aside-custom {
  transition: 0.3s ease all;
}
.aside-custom.active {
  left: 0%;
}
